.icon-row {
    line-height: 35px !important;
}

div.statistic {
    div.label {
        font-size: 0.7em !important;    
    }
}

.label-airline {
    width: 75px !important;
}

.label-city {
    width: 125px !important;
}
