@import "./dependencies.scss";

*, body {
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

div.app-container {
    background-color: $primaryBackgroundColor;
    height: 100vh;
    width: 100vw;
}

div.ui.segment {
    margin-bottom: 20px !important;
}

div.flex-container {
    display: flex;
}